/* You can add global styles to this file, and also import other style files */
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";

.link{
    text-decoration: none !important;
    text-underline-offset: none !important;
    color: black !important;

}

a:hover{
    cursor: pointer;
}